.logo{
    height: 75%;
    width: 40%;
    margin-top: 5px;
}
.row{
    text-align: center;
    height: 50px;
    background-color: #f1f1f1;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  
}
.rights{
    margin-top: 5px;
}


.colDrop{
    margin-top: 5px;

    /* margin-right: ; */
    /* color: black !important; */
}
.svg{
    margin-right: 5px;
}
.dropdown{

   color: black;
    
}