.form {
  margin-top: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none !important;
  border-radius: 5px;
  margin-bottom: 20px;
}
.Row {
  margin-top: 15px;
  margin-bottom: 10px;
}

.card {
  margin-top: 50px;
  border: none ;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 10px;

  
}

.img {
  height: 30%;
  width: 30% !important;
}
.label {
  margin-bottom: 5px;
}
